.error-message {
  color:red;
  font-size: 14px;
  margin: 10px;
  display: flex;
  justify-content:space-around;
  background-color:antiquewhite;
  width: 300px;
  height:50px;
  padding: 5px;
  border: 2px dashed red;
  border-radius: 5px;
}
.field-message{
color: red;
margin:8px;


}
.error-message i{

display: inline-flex;
margin:5px;
margin-top:10px;

}
form{
  
  height: 590px;
    width:390px;
     padding-left: 20px;
     margin-left: 0px;
    background-color: white;



}
h2{
  padding-top: 50px;
padding-left: 60px;
color:#10e887;


}
label{

display: block;
margin-top: 30px;
color:darkblue;
font-size: 15px;
font-style: bold;
font-weight: bold;
}
.input
{
height: 40px;
width: 330px;
border: 2px solid gainsboro; 
box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.1);
font-weight: 20px;
border-radius:5px;




}
.submit{
  margin-top: 5px;
  height: 40px;
  width: 130px;
  
  font-size: 15px;
  border: 3px solid  #fcf9f93c;
  margin-left: 80px;
 
  background-color: darkblue;
  color: white;
  margin-top: 40px;
  

}
.submit:hover{
background-color: #10e887;
color:white;
cursor: pointer;


}
a{
  margin-left: 200px;
margin-top: 40px;
text-decoration: none;
color:darkblue;
display: flex;
justify-content: center;


}
a:hover{
cursor: pointer;
color:gray;

}
mat-icon{


  display: block;

  border: whitesmoke;
  
}
.password-container{
display:flex;
justify-content: space-between;



}
.password-checkbox label {
  display: flex;
  justify-content:left;
  padding-right: 30px;
 
}
.password-checkbox input[type="checkbox"] {

  transform: scale(1.1); 
  
}



