

mat-nav-list{
    width: 200px; 
    background-color:rgb(52, 153, 52);
    margin-top: 50px;
    margin-left: 20px;
    border: #115833 2px solid;
    border-radius: 10px;
    height: 600px;
    
  }
  img{

margin-top:20px;


  }
  a{
color:whitesmoke;
font-size: 20px;
text-decoration: none;
display: block;
margin-top: 50px;
height: 30px;

}
span{
padding-left: 10px;



}
.logo{
display: flex;
justify-content: right;


}
mat-toolbar{

display: flex;
justify-content: space-between;
background-color: white;

}
h1{

    color:darkblue;
}
span{
color:white;
font-size: 20px;

}
.icon {
    color:gainsboro; 
  }
  section{

display: flex;
justify-content: space-between;


  }
  

  
  



 