  
  <form (ngSubmit)=" forgetPassword()" [formGroup]=" forgetForm" > 
      
    <h2>Réinitialisation mot de passe</h2>
    
    <label for="login">Login</label><br>
    <div class="input-container"> 
    <input type="text" id="login" formControlName="login" placeholder="Veuillez saisir votre Login"><br>
    </div>
    <div *ngIf="isRequiredField('login')" class="field-message">
      *Login obligatoire.
    </div>

    <div *ngIf="forgetForm.get('login')?.hasError('pattern') && !isRequiredField('login')" class="field-message">
      *Le login doit contenir exactement 8 chiffres.
    </div>
    <label for="email">Email</label><br>
    <div class="input-container"> 
    <input type="text" id="email" formControlName="email" placeholder="Veuillez saisir votre email"><br>
    </div>
    <div *ngIf="isRequiredField('email')" class="field-message">
      *Email obligatoire.
    </div>
    
    <button type="submit">Envoyer un email</button>
    <a [routerLink]="['/auth/login']">Retour à la connexion</a><br>  
    <div *ngIf="showGlobalError" class="error-message">
      <i class="material-icons">cancel</i> Login ou EMAIL INVALIDE(S). VEUILLEZ RÉESSAYER.
    </div>

  </form>


